<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Ruta 40 Region norte</title>
</head>
<body>
    <div class="container">
      <h1 class="titulo">Ruta 40 Region Norte</h1>
        <div class="column">
         <p>Sin dejar de apasionar a todos sus viajeros, la extensa Ruta 40 se interna en la Región Norte para seguir regalando la versatilidad y la belleza de los paisajes argentinos. Catamarca, Tucumán, Salta y Jujuy son las provincias que atraviesa esta propuesta única e irresistible.

            Y los paisajes no demoran en lanzar sus hechizos: ni bien la Provincia de Catamarca aparece, la Ruta Nacional Nº 60 se hace ver a la izquierda para arribar a Tinogasta y Fiambalá. Enclavadas sobre un valle de montañas y la puna; tapizadas por el colorido de los cultivos frutales y viñedos; recorridas por ríos que le otorgan ese toque mágico tan atrapante, son ideales para relajarse, divertirse y descansar. Aguas termales; museos arqueológicos; turismo aventura en todos los escenarios son sólo algunas de sus propuestas.
            
            Retomando la carretera más larga de Argentina, Londres y Belén serán los próximos destinos para disfrutar. La primera se destaca por sus edificaciones de antaño, ya que es la segunda ciudad más antigua del país; Belén por su parte seduce con su paisaje de montaña; las artesanías y toda la cultura norteña; sus testimonios del pasado como las Ruinas de El Shincal y sus terapéuticas termas.
            
            El viaje continúa entre pequeños parajes, cardones que trepan a las alturas y cerros de muchos colores que anuncian la llegada a los Valles Calchaquíes. Inmersa en esas postales, Santa María se transforma en un lugar para no perderse: serena y con un circuito que recorre maravillas como el Cerro Pintado; el Pueblo Histórico de Fuerte Quemado; Loma Rica; la Quebrada de Jujuil, es también la despedida de las tierras catamarqueñas.
            
            El oeste de la Provincia de Tucumán se hace presente: Amaicha del Valle aparece mezclando las tradiciones ancestrales con postales que exponen la hermosura y la simplicidad de las tierras calchaquíes. Las comunidades indígenas son sus habitantes, quienes viven respetando su cultura, produciendo exquisiteces regionales y los típicos tejidos norteños. Cada año celebran la Fiesta Nacional de la Pachamama.
            
            Las sorpresas no se terminan, a pocos kilómetros y tomando una ruta provincial hacía el oeste, las Ruinas de Quilmes invitan a descubrir los vestigios de un pueblo prehispánico. Reconocido como uno de los sitios arqueológicos más importantes del país, es un viaje en el tiempo que permite sumergirse entre muros de piedra y el más absoluto silencio.
            
            Y si la serenidad es el objetivo del paseo, nada mejor que detenerse en Colalao del Valle: este pueblito de calles angostas es un lugar ideal para dejar atrás las presiones cotidianas y disfrutar al máximo de un ambiente que se perfuma con el aroma de los cultivos de nuez, especias y uvas que luego serán utilizadas para elaborar el vino patero. Tucumán se termina, pero la carretera de 5000 kilómetros continúa para inmiscuirse en la no menos fascinante Provincia de Salta.
            
            Cafayate recibe a los turistas en el corazón de los Valles Calchaquíes. Los cerros coloreados con tonos rojizos, en un degradé muy singular, son el marco de esta ciudad tranquila pero colmada de atractivos: pinturas rupestres; lugares únicos que ostentan cascadas, cavernas, y formaciones geológicas muy llamativas; museos y la imponente Catedral componen esta cartelera. Imperdible será visitar las bodegas de la región y saborear sus vinos Torrontés.
            
            Igual de emocionante será conocer San Carlos, una antigua población que sorprende con sus casas de estilo colonial, junto a una iglesia declarada monumento histórico. Pero esto no es todo, los recorridos paisajísticos y el contacto con la naturaleza pura son dos opciones imperdibles para descubrir los tesoros que esconde este rinconcito salteño.
            
            La Ruta 40 sigue su recorrido para encontrarse con la localidad de Angastaco y luego lanzarse a recorrer las tierras norteñas, escoltada por las altas paredes rocosas de la Quebrada de las Flechas. Dejando atrás este llamativo tramo, el Parque Nacional Los Cardones aparece con sus gigantes especies cactáceas y un extenso desierto que invita a ser recorrido en imperdibles caminatas.
            
            La tranquila localidad de Molinos emerge ahora para regalar otro destino típico de esta región: casas de adobe, una colonial iglesia y una paz intrínseca le dan forma a esta comunidad. A pocos kilómetros los amantes de la pesca encontrarán la Laguna de Brealito para probar suerte con el pique; imperdible un campamento en sus orillas.
            
            Cachi es la próxima parada y el encanto norteño sigue lanzando sus hechizos combinando culturas en paisajes por demás fascinantes. Su relieve accidentado y de altura la transforma en un escenario único para el turismo de aventura y la pesca deportiva.
            
            Los pequeños poblados siguen apareciendo mientras la Ruta 40 se va elevando. La Poma es uno de ellos y llama la atención de sus visitantes por la belleza arquitectónica que ostenta y que contrasta con el paisaje de montaña agreste e imponente.
            
            Ya en Abra del Acay, este magnífico sendero recorre la falda del Nevado del Acay y trepa hasta los 4895 metros sobre el nivel del mar, marcando su punto más alto y comenzando a despedirse de las bellezas salteñas.
            
            San Antonio de los Cobres cierra el itinerario por la Provincia de Salta proponiendo varios circuitos turísticos que la descubren en su cotidianeidad. Ubicada en la particular y desértica región de la Puna, es una de las paradas que realiza el Tren de las Nubes para luego atravesar el Viaducto la Polvorilla.
            </p>
    <div class="column__video">
        <iframe width="560" height="315"src="https://www.youtube.com/embed/be2_AQrU0Sc?si=AwPxJ2oxF3iZvvIj?autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
       <audio controls [src]="audioUrl">
        Tu navegador no soporta la reproducción de audio.
      </audio>
    </div>
    </div> 
</body>

</html>
