<div class="navbar"> 
 <div class="navbar__item">
  <img class="navbar__item-img" src="assets/LOGO RUTA 40.jpg" alt="logo principal de pagina">
 </div>
 <div class="navbar__item">
    <a class="navbar__item-links" routerLink="index">Inicio</a>
    <a class="navbar__item-links" routerLink="norte" >Norte</a>
    <a class="navbar__item-links" routerLink="cuyo">Cuyo</a>
    <a class="navbar__item-links" routerLink="patagonia">Patagonia</a>
    <a class="navbar__item-links" routerLink="usuarios">Usuarios</a>

</div>
