<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Ruta 40 Region norte</title>
</head>
<body>
    <div class="container">
      <h1 class="titulo">Ruta 40 Region Patagonia</h1>
        <div class="column">
         <p>Inmaculada y majestuosa, señalando el límite final del mundo, la Patagonia Argentina se extiende desde La Pampa hasta Tierra del Fuego, abarcando Neuquén, Río Negro, Chubut, Santa Cruz, y deslumbrando con su variedad de bellezas naturales y su singular propuesta turística.
            Enmarcada por paisajes soñados, donde lo imaginado tiene la capacidad de convertirse en realidad, la región del sur cuenta con todos los escenarios requeridos para hacer de su visita un recuerdo imborrable.
            
            Montañas, bosques andinos, lagos, mesetas, playas y costas acantiladas conforman el fascinante panorama de la Patagonia ganando protagonismo mediante imperdibles atractivos como Península de Valdés, Parque Nacional Los Alerces, San Carlos de Bariloche, Cerro Catedral, Villa La Angostura, San Martín de los Andes, Las Grutas, El Calafate, Parque Nacional Los Glaciares, Ushuaia, Parque Nacional Tierra del Fuego, y Antártida.
            Sitios dónde dejarse llevar por la afluencia de sensaciones, la magia del sur invade en toda su dimensión estos llamadores de turistas tornándolos seductoramente ineludibles.
            
            Excursiones paisajísticas, contemplativas y de aventura; jornadas de pesca y caza deportiva; cabalgatas a la vera de las cristalinas aguas de deshielo; actividades recreativas; avistaje de ballenas; esquí y snowboard; y otra gran variedad de opciones, la Patagonia Argentina constituye un magnético destino vacacional acondicionado para las más diversas preferencias.
            </p>
    <div class="column__video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/guYQ8U_LkQc?si=q7aEN0BCM1yf1I1B" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</div>
    </div> 
</body>

</html>
